Q1. List any five functions of the pandas library with execution.

In [6]:
import pandas as pd

#1 read_csv()
df=pd.read_csv("TATAMOTOR.csv")
df.head()

#2 dropna()
clean_df=df.dropna()
clean_df

#3  groupby()
grouped = df.groupby('OPEN ')['ltp '].mean()
grouped

#4  sort_values()
sorted_df = df.sort_values(by='ltp ', ascending=False)
sorted_df

#5 corr()
correlation_matrix = df.corr()
correlation_matrix

/tmp/ipykernel_77/728704590.py:20: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = df.corr()

,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L
OPEN,1.000000,0.997842,0.998234,0.998679,0.995941,0.995841,0.997677,0.781992,0.244586
HIGH,0.997842,1.000000,0.998171,0.996177,0.998536,0.998510,0.999438,0.780321,0.241539
LOW,0.998234,0.998171,1.000000,0.996788,0.998338,0.998408,0.999316,0.779070,0.246415
PREV. CLOSE,0.998679,0.996177,0.996788,1.000000,0.994352,0.994223,0.995923,0.779966,0.237859
ltp,0.995941,0.998536,0.998338,0.994352,1.000000,0.999942,0.999269,0.776120,0.245868
close,0.995841,0.998510,0.998408,0.994223,0.999942,1.000000,0.999329,0.774931,0.246932
vwap,0.997677,0.999438,0.999316,0.995923,0.999269,0.999329,1.000000,0.778135,0.245244
52W H,0.781992,0.780321,0.779070,0.779966,0.776120,0.774931,0.778135,1.000000,0.110475
52W L,0.244586,0.241539,0.246415,0.237859,0.245868,0.246932,0.245244,0.110475,1.000000

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [8]:
import pandas as pd

def reindex_dataframe(df):
    new_index = range(1, len(df) * 2, 2)    
    df.index = new_index    
    df.index.name = 'index'
data = {'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]}
df = pd.DataFrame(data)
reindex_dataframe(df)
print(df)

        A   B   C
index
1      10  40  70
3      20  50  80
5      30  60  90

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [16]:
import pandas as pd
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
def calculate_sum_of_first_three_values(df):   
    first_three_values = df['Values'][:3]
    
    total_sum = sum(first_three_values)
    print("Sum of the first three values:", total_sum)
calculate_sum_of_first_three_values(df)

Sum of the first three values: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [17]:
import pandas as pd
data = {'Text': ["This is a sample sentence.", "Count the words in this one.", "Another example."]}
df = pd.DataFrame(data)
def count_words(text):   
    words = text.split()
    return len(words)
def add_word_count_column(df):    
    df['Word_Count'] = df['Text'].apply(count_words)
add_word_count_column(df)
print(df)

                           Text  Word_Count
0    This is a sample sentence.           5
1  Count the words in this one.           6
2              Another example.           2

Q5. How are DataFrame.size() and DataFrame.shape() different?

In [19]:
"""DataFrame.size:

DataFrame.size returns the total number of elements in the DataFrame, which is equal to the product of the number of rows and the number of columns.
It returns an integer representing the total size of the DataFrame.
It does not require parentheses when accessed."""

"""DataFrame.shape:

DataFrame.shape returns a tuple representing the dimensions of the DataFrame, where the first element is the number of rows, and the second element is the number of columns.
It provides a convenient way to access the number of rows and columns separately.
It requires parentheses when accessed, as it is an attribute and not a method."""

"""DataFrame.size returns an integer representing the total number of elements, 
while DataFrame.shape returns a tuple of integers representing the number of rows and columns."""

'DataFrame.size returns an integer representing the total number of elements, \nwhile DataFrame.shape returns a tuple of integers representing the number of rows and columns.'

Q6. Which function of pandas do we use to read an excel file?

In [21]:
import pandas as pd
df = pd.read_excel('TATAMOTOR.xlsx')
print(df)

           Date  series   OPEN    HIGH     LOW   PREV. CLOSE     ltp   close   \
0    31-Jul-2023      EQ  640.2  645.55  635.90        635.30  644.30  644.30
1    28-Jul-2023      EQ  646.0  646.00  631.80        643.70  635.85  635.30
2    27-Jul-2023      EQ  647.0  648.45  636.75        641.10  646.00  643.70
3    26-Jul-2023      EQ  640.0  665.40  639.00        639.45  639.00  641.10
4    25-Jul-2023      EQ  636.0  642.50  633.35        629.25  641.80  639.45
..           ...     ...    ...     ...     ...           ...     ...     ...
228  29-Aug-2022      EQ  451.0  456.90  450.15        465.05  454.15  453.35
229  26-Aug-2022      EQ  465.0  470.45  463.95        459.20  464.45  465.05
230  25-Aug-2022      EQ  466.0  468.80  457.40        463.20  459.65  459.20
231  24-Aug-2022      EQ  459.0  464.90  457.70        460.45  463.00  463.20
232  23-Aug-2022      EQ  449.0  462.10  447.60        454.60  461.20  460.45

      vwap   52W H   52W L      VOLUME              VALUE  No of trades
0    642.98   665.4  375.20   7,502,361   4,823,837,741.50       172,623
1    636.11   665.4  375.20   9,299,530   5,915,566,105.65       168,753
2    643.67   665.4  375.20  11,696,851   7,528,922,145.50       219,355
3    650.43   665.4  375.20  31,673,714  20,601,675,207.20       439,456
4    638.97   642.5  375.20  13,988,137   8,937,951,714.05       240,989
..      ...     ...     ...         ...                ...           ...
228  453.65   536.7  286.10  11,647,725   5,283,983,489.05       197,293
229  466.97   536.7  268.45  11,252,560   5,254,569,001.65       127,120
230  463.92   536.7  268.45  11,255,809   5,221,831,280.20       114,733
231  461.54   536.7  268.45  12,214,113   5,637,357,620.45       131,380
232  455.03   536.7  268.45  17,779,238   8,090,109,755.70       201,138

[233 rows x 14 columns]

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [22]:
import pandas as pd
data = {'Email': ['ckraj@gmail.com', 'ckraj1@example.com', 'ckraj2@example.com']}
df = pd.DataFrame(data)
def extract_username(df):    
    df['Username'] = df['Email'].str.split('@').str[0]
extract_username(df)
print(df)

                Email Username
0     ckraj@gmail.com    ckraj
1  ckraj1@example.com   ckraj1
2  ckraj2@example.com   ckraj2

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [23]:
import pandas as pd
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)
def select_rows(df):    
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows
selected_df = select_rows(df)
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [24]:
import pandas as pd
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
def calculate_statistics(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()    
    return mean, median, std_dev
mean_value, median_value, std_deviation = calculate_statistics(df)
print("Mean:", mean_value)
print("Median:", median_value)
print("Standard Deviation:", std_deviation)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [25]:
import pandas as pd
data = {'Date': ['2023-08-01', '2023-08-02', '2023-08-03', '2023-08-04', '2023-08-05', '2023-08-06', '2023-08-07', '2023-08-08', '2023-08-09'],
        'Sales': [100, 120, 110, 90, 85, 95, 105, 115, 130]}
df = pd.DataFrame(data)
def calculate_moving_average(df):
    df['Date'] = pd.to_datetime(df['Date']) 
    df = df.sort_values(by='Date')
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()    
    return df
result_df = calculate_moving_average(df)
print(result_df)

        Date  Sales  MovingAverage
0 2023-08-01    100     100.000000
1 2023-08-02    120     110.000000
2 2023-08-03    110     110.000000
3 2023-08-04     90     105.000000
4 2023-08-05     85     101.000000
5 2023-08-06     95     100.000000
6 2023-08-07    105     100.714286
7 2023-08-08    115     102.857143
8 2023-08-09    130     104.285714

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [26]:
import pandas as pd
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)
def add_weekday_column(df):
    df['Date'] = pd.to_datetime(df['Date'])      
    df['Weekday'] = df['Date'].dt.strftime('%A')    
    return df
result_df = add_weekday_column(df)
print(result_df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [27]:
import pandas as pd
data = {'Date': ['2023-01-05 12:00:00', '2023-01-15 08:30:00', '2023-02-01 17:45:00', '2023-01-20 14:15:00']}
df = pd.DataFrame(data)
def select_rows_between_dates(df, start_date, end_date):
    df['Date'] = pd.to_datetime(df['Date'])  
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]    
    return selected_rows
start_date = pd.to_datetime('2023-01-01')
end_date = pd.to_datetime('2023-01-31')
selected_df = select_rows_between_dates(df, start_date, end_date)
print(selected_df)

                 Date
0 2023-01-05 12:00:00
1 2023-01-15 08:30:00
3 2023-01-20 14:15:00

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [28]:
"""To use the basic functions of Pandas, the first and foremost library that needs to be imported is pandas itself.
You should import it using the following import statement at the beginning of your Python script or notebook"""
import pandas as pd